<div class="container bg-gray-100 min-h-screen flex items-center justify-center">
  <h1>Calculadora de Horas Diárias</h1>
  <form>
    <div>
      <label class="text-blue-600 font-bold">Entrada:</label>
      <input type="time" [(ngModel)]="hours.entrada" name="entrada" placeholder="Entrada">
      <label>Saída para Almoço:</label>
      <input type="time" [(ngModel)]="hours.saidaAlmoco" name="saidaAlmoco" placeholder="Saída para Almoço">
      <label>Volta do Almoço:</label>
      <input type="time" [(ngModel)]="hours.voltaAlmoco" name="voltaAlmoco" placeholder="Volta do Almoço">
    </div>
    <button type="button" (click)="calcularHorarioSaida()">Calcular Horário de Saída</button>
  </form>

  <p>Horário Estimado de Saída: {{ horarioSaida || 'N/A' }}</p>

  <button type="button" (click)="ativarNotificacao()">Ativar Notificação</button>
  <p *ngIf="notificacaoAtivada">Notificação ativada para {{ horarioSaida }}</p>

</div>

<div class="container">
  <h1>Teste do Toastr</h1>
  <button (click)="mostrarNotificacao()">Exibir Toast</button>
</div>


<router-outlet />
