<div class="container bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="bg-white shadow-lg rounded-lg p-6 max-w-md">


  <h1 class="font-extrabold text-lg text-blue-600">Calculadora de Horas Diárias</h1>
  <form class="space-y-4">
    <div>
      <label class=" block  font-bold text-gray-700">Entrada:</label>
      <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" type="time" [(ngModel)]="hours.entrada" name="entrada" placeholder="Entrada">
      <label class=" block  font-bold text-gray-700" >Saída para Almoço:</label>
      <input class="block  font-bold text-gray-700" type="time" [(ngModel)]="hours.saidaAlmoco" name="saidaAlmoco" placeholder="Saída para Almoço">
      <label class=" block  font-bold text-gray-700">Volta do Almoço:</label>
      <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200" type="time" [(ngModel)]="hours.voltaAlmoco" name="voltaAlmoco" placeholder="Volta do Almoço">
    </div>
    <button type="button" (click)="calcularHorarioSaida()">Calcular Horário de Saída</button>
  </form>

  <p>Horário Estimado de Saída: {{ horarioSaida || 'N/A' }}</p>

  <button type="button" (click)="ativarNotificacao()">Ativar Notificação</button>
  <p *ngIf="notificacaoAtivada">Notificação ativada para {{ horarioSaida }}</p>

  <div class="container">
    <button (click)="mostrarNotificacao()">Exibir Toast</button>
  </div>
</div>




<router-outlet />
